# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Sphinx documentation
docs/_build/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore


_pycache_
Others
config.json
logs
.gitignore
README.md
sync.log
tests
Testing api 
masterData
access_comparison_results
